@{
    ViewBag.Title = "Lineup";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>These games are on tap for today:</p>

<div id="gameData"></div>

@section    scripts
{
    <script>
        $.ajax({
            url: "http://localhost:51101/api/games",
            type: "Get",

            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#gameData").append(data[i].AwayTeam + " vs. " + data[i].HomeTeam + "</p>");
                }
            },
            
        error: function (msg) { alert(msg); }
        });
    </script>
    
    
}