@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Charisse Lambert<br />
    <abbr title="Phone">P:</abbr>
    510.459.3065
</address>

<address>
    <strong>Hit Me</strong>   <a href="mailto:charisse8@gmail.com">Charisse8@gmail.com</a><br />
</address>