@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Madness 24/7</h1>
        <p class="lead">Track all the March Madness games that you watch this year with the all new GameWatcherTV app.</p>
        <p><a href="../games/index" class="btn btn-primary btn-lg">Game Guide &raquo;</a></p>
    </div>

   
       
<div class="row">
    <div class="col-md-4">
        <h2>Big Blue vs. Everybody?</h2>
        <p>
            March Madness Sweet 16 action is in full effect this weekend. Will Kentucky remain undefeated?
        </p>
    </div>

    <a class="twitter-timeline" data-dnt="true" target=" _blank" href="https://twitter.com/marchmadness" data-widget-id="581326385786044416">Tweets by Marchmadness</a>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

</div>
