@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Madness 24/7</h1>
        <p class="lead">Track all the March Madness games that you watch this year with the all new GameWatcherTV app.</p>
        <p><a href="../games/index" class="btn btn-primary btn-lg">Today's Games &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Big Blue vs. Everybody?</h2>
            <p>
               March Madness Sweet 16 action is in full effect this weekend. Will Kentucky remain undefeated?
            </p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>GAME ON</h2>
            <p>Final Four 2015 | April 4-6, 2015</p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
    </div>
