@{
    ViewBag.Title = "March Madness";
}
<div class="container" ng-app="watcherApp" ng-controller="GameCtrl">
    <div class="row">
        <div class="col-md-12">
            <h2>March Madness</h2>
          
            <table class="table">
                <thead>
                    <tr>
                        <th>Tourney Round</th>
                        <th>Away Team</th>
                        <th>Home Team</th>
                        <th>Away Score</th>
                        <th>Home Score</th>
                    </tr>
                </thead>
                <tbody>
                  
                    <tr ng-repeat="game in model.Games">
                        <td>
                            {{game.Channel}}
                        </td>
                        <td> 
                            {{game.AwayTeam}}
                        </td>
                        <td>
                            {{game.HomeTeam}}
                        </td>
                        <td>
                            {{game.AwayScore}}
                        </td>
                        <td>
                            {{game.HomeScore}}
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Edit")/?id = {{game.GameId }}">Edit</a> |
                            <a href="@Url.Action("Details", "Details")/?id = {{game.GameId }}">Details</a> |
                            <a href="@Url.Action("Delete", "Delete")/?id = {{game.GameId }}">Delete</a>
                        </td> 
                    </tr>

                    <tr ng-if="model.Games.length == 0">
                            <td colspan="4" class="text-center">There are no games to display</td>
                    </tr>

                    <tr id="gameSubmit" ng-if="states.showGameForm">
                        <
                        <td>
                            <input type="text" class="form-control" placeholder="Away Team" ng-model="new.Game.AwayTeam" />
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Home Team" ng-model="new.Game.HomeTeam" />
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Game" ng-model="new.Game.AwayScore" />
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Game" ng-model="new.Game.HomeScore" />
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="addGame()">Add</button>
                        </td>
                        <td>    
                            <button type="button" class="btn btn-default" ng-click="showGameForm(false)">Cancel</button>
                        </td>
                    </tr>
            </tbody>
            </table>
            <a ng-click="showGameForm(true)" class="btn btn-primary">Add Game</a>
        </div>
        
    </div>
</div>


